*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.end
*.synctex.gz
.idea
*.DS_Store
!/data/candidates.csv
data/candidates.csv
images/known_events.png
*.json
*__pycache__
/images/GWTC-1-sig.png
/images/IAS-1-sig.png
